<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/template.css">
	<style>
			#box{
			border: 1em solid #0000b3;
			height:7em;
			width: 9em;
			border-radius: 2em;
			float:left;
			margin:2em;
		}
		</style>
</head>
<body >
<h1 id="heading" ><center>PicShare</center></h1>
<br><br>
<h2 >
<center>
STAY CONNECTED {{user}}!!!
</center>
</h2>
<div style="position:fixed;top:3rem;left:70rem;">
	<form action="/gotohome" method="post">
		<button id='profile' type="submit" name="gotohome" value='{{user}}'><img src="static/pictures/home.png" width="70em" height="70em" style=""></button>
	</form>
	</div>
<br><br>
<hr>
<br>
{% for x in all_requests %}
		<div id="box">

		<center><b style="position:relative;top:2em;">
		{{x}}</b>
		<br></center>
		<form method="post" action="/accept_frnd_req" style="display:inline">

		<button type="submit" name="accept" value='{{x}}' style="background-color:#0000b3;color:white;position:relative;top:4.2em;">Accept</button>
		<button type="submit" name="accept" value='-1{{x}}' style="background-color:#0000b3;color:white;position:relative;top:4.2em;float:right">Decline</button>
		</form>

		</div>
{% endfor %}
</body>
</html>
